:root {
    --background-color: #333;
    --form-background: #CCC;
    --text-color: #000;
    --button-background: #000;
    --button-text: #FFF;
    --input-border: #888;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.book-plan-page {
    background-color: var(--form-background);
    padding: 20px;
    border-radius: 8px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.book-plan-header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.book-plan-form {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.left-content,
.right-content {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.form-item {
    margin-bottom: 15px;
    margin-right: 80px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    font-size: 14px;
    background-color: #FFF;
}

textarea {
    resize: none;
    height: 100px;
}

.cover-upload {
    margin-top: 20px;
}

.save-plan-button {
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    align-self: center;
    margin-top: 120px;


}

.save-plan-button:hover {
    background-color: #555;
}
