dialog{
    height: 730px;
    width: 600px;
    min-height: 600px;
    min-width: 600px;
}



.template-plan-page {
    padding: 20px;
    height:100%;
    width:100%;

}
.template-plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.template-plan-header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    color: var(--left-sidebar);

}
.template-plan-content
{
    display: flex;
    flex-direction: column;

}
.template-plan-form {
    display: flex;
    flex-direction: column;

}
.form-input:focus {
    color: var(--gray-black);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
}

.form-item {
    margin-bottom: 15px;
    width: 100%;
}
input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    font-size: 14px;
    background-color: #FFF;
}

textarea {
    resize: none;
    height: 100px;
}

.cover-upload {
    margin-top: 20px;
}


.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}